<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>
    <div class="cap-links">
        <a href="{{ url_for('index') }}">Главная страница</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    <hr>
    <a href="{{ url_for('place_of_crime') }}"><h3>Нажмите сюда, чтобы перейти к добавлению места преступления</h3></a>
</body>
</html>